<?xml version="1.0"?>
<!--
/**
 * Altapay Module for Magento 2.x.
 *
 * Copyright © 2018 Altapay. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <terminal1>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal1</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal1>
            <terminal2>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal2</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal2>
            <terminal3>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal3</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal3>
            <terminal4>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal4</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal4>
            <terminal5>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal5</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal5>
            <terminal6>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal6</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal6>
            <terminal7>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal7</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal7>
            <terminal8>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal8</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal8>
            <terminal9>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal9</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal9>
            <terminal10>
                <active>0</active>
                <title />
                <payment_action>true</payment_action>
                <model>SDM\Altapay\Model\Method\Terminal10</model>
                <place_order_url>sdmaltapay/index/request</place_order_url>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial>1</can_refund_partial>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_for_multishipping>1</can_use_for_multishipping>
            </terminal10>
        </payment>
    </default>
</config>
