<?xml version="1.0"?>
<!--
/**
 * Valitor Module for Magento 2.x.
 *
 * Copyright © 2018 Valitor. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="SDM\Valitor\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SDM\Valitor\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">valitorlogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">SDM\Valitor\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="SDM\Valitor\Api\TransactionRepositoryInterface" type="SDM\Valitor\Model\TransactionRepository"/>
    <preference for="SDM\Valitor\Api\Data\TransactionInterface" type="SDM\Valitor\Model\Transaction"/>
    <preference for="SDM\Valitor\Api\OrderLoaderInterface" type="SDM\Valitor\Model\OrderLoader"/>
    <preference for="SDM\Valitor\Api\GatewayInterface" type="SDM\Valitor\Model\Gateway" />

</config>