<?xml version="1.0"?>
<!--
/**
 * Altapay Module for Magento 2.x.
 *
 * Copyright © 2018 Altapay. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="SDM\Altapay\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SDM\Altapay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">altapaylogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">SDM\Altapay\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="SDM\Altapay\Api\TransactionRepositoryInterface" type="SDM\Altapay\Model\TransactionRepository"/>
    <preference for="SDM\Altapay\Api\Data\TransactionInterface" type="SDM\Altapay\Model\Transaction"/>
    <preference for="SDM\Altapay\Api\OrderLoaderInterface" type="SDM\Altapay\Model\OrderLoader"/>
    <preference for="SDM\Altapay\Api\GatewayInterface" type="SDM\Altapay\Model\Gateway" />
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin name="checkout.success" type="SDM\Altapay\Plugin\Checkout\Controller\Onepage\Success" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="restrictcheckout" type="SDM\Altapay\Model\Plugin\Checkout\Controller\Restrict"/>
    </type>
    <type name="SDM\Altapay\Helper\VersionNotification">
        <arguments>
            <argument name="authSession" xsi:type="object">Magento\Backend\Model\Auth\Session\Proxy</argument>
        </arguments>
    </type>
</config>