<?xml version="1.0"?>
<!--
/**
 * Valitor Module for Magento 2.x.
 *
 * Copyright © 2018 Valitor. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_place_start">
        <observer name="SDM_Valitor_Order_Before_Payment" instance="SDM\Valitor\Observer\BeforePaymentObserver" />
    </event>

    <event name="order_cancel_after">
        <observer name="SDM_Valitor_OrderCancel" instance="SDM\Valitor\Observer\OrderCancelObserver" />
    </event>

    <event name="sales_order_payment_capture">
        <observer name="SDM_Valitor_Capture" instance="SDM\Valitor\Observer\CaptureObserver" />
    </event>

    <event name="sales_order_creditmemo_refund">
        <observer name="SDM_Valitor_Creditmemo_Refund" instance="SDM\Valitor\Observer\CreditmemoRefundObserver" />
    </event>

    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="SDM_Valitor_Checkout_Cart_Index" instance="SDM\Valitor\Observer\CheckoutCartIndex" />
    </event>

</config>
