/*
 * Altapay Module for Magento 2.x.
 *
 * Copyright © 2018 Altapay. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

span.terminal-message,
.terminal-message-logo {
    display: block;
    padding-left: 0;
    color: #666666;
    padding-top: 10px;
}

span.terminal-logos {
    flex: 1 0 0;
    text-align: right;
}

.terminal-cnt .terminal-title {
    padding-left: 10px;
}

.label.terminal-cnt {
    width: 100%;
    display: flex;
    align-items: center;
}

.checkout-payment-method .payment-method-title {
    display: flex;
}

.terminal-logos>img {
    vertical-align: middle;
    display: inline-block;
    max-width: 40px;
    max-height: 30px;
    margin: 3px;
}

.payment-method-title input.radio {
    align-self: center;
    display: flex;
}

.savecard-checkbox {
    margin-bottom: 14px;
}

.one-step-checkout-wrapper .payment-method [type=radio] + label.terminal-cnt:after,
.one-step-checkout-wrapper .payment-method [type=radio] + label.terminal-cnt:before {
    top: 50%;
    margin-top: -9px;
}

@media (min-width: 769px) {
    .terminal-logos>img {
        max-width: 60px;
        max-height: 40px;
    }
}

@media (min-width: 993px) {
    .terminal-logos>img {
        max-width: 65px;
        margin: 5px 3px;
    }
}