/*
 * Altapay Module for Magento 2.x.
 *
 * Copyright © 2018 Altapay. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.creaditcard-callback-form.legacy input#pensioCreditCardPaymentSubmitButton {
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 10px 0 5px;
    display: block;
}

#notice-cookie-block {
    display: none;
}

.creaditcard-callback-form.legacy select#emonth {
    width: 50%;
}

.creaditcard-callback-form.legacy select#eyear {
    width: 48%;
}

.creaditcard-callback-form.legacy .pensio_payment_form_row.expiry_row {
    padding-bottom: 24px;
}

div#savecreditcard {
    display: none;
}

.creaditcard-callback-form.legacy input#pensioCreditCardPaymentSubmitButton:disabled {
    opacity: 0.4;
}

aside.modal-custom.opc-sidebar.opc-summary-wrapper {
    margin: 0px;
}

.opc-block-summary .minicart-items-wrapper {
    max-height: 250px;
}

footer.page-footer,
.sections.nav-sections,
.panel.header,
.block.block-search,
.minicart-wrapper {
    display: none;
}

.creaditcard-callback-form.checkout #klarna_options {
    padding-top: 30px;
    padding-bottom: 30px;
}

#EPayment .IbanPopup img {
    display: block;
}

#EPayment .pensio_payment_form_label_cell {
    display: table-cell !important;
    font-weight: bold;
    vertical-align: middle;
}

#EPayment .pensio_payment_submit_button button {
    background-color: #6195f0;
    border-color: #4a85ee;
    color: #ffffff;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.25;
    padding: 0.5rem 1rem;
    text-align: center;
}

.surcharge-total, .surcharge-amount {
    display: none;
}

.surcharge-total small {
    font-size: 12px;
    color: #666666;
}

.Surcharged .surcharge-total {
    display: table-row;
}

.Surcharged .surcharge-amount {
    display: block;
}

@media (min-width: 992px) {

    .creaditcard-callback-form {
        margin: 0px;
        width: 33.33333333%;
        float: left;
    }
}

/** Checkout Styling **/

.creaditcard-callback-form.checkout {
    text-align: left;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 20px 25px 25px 25px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px;
}

.creaditcard-callback-form.checkout .payment-title {
    margin: 0;
}

.creaditcard-callback-form.checkout form {
    margin: 0;
}

.creaditcard-callback-form.checkout .payment-headline {
    margin-block-start: 0;
}

.creaditcard-callback-form.checkout .pensio_payment_form_card-number {
    position: relative;
}

.creaditcard-callback-form.checkout .pensio_payment_form_card-number,
.creaditcard-callback-form.checkout .pensio_payment_form_cardholder,
.creaditcard-callback-form.checkout .pensio_payment_form-cvc-input {
    margin-top: 4px;
}

.creaditcard-callback-form.checkout .pensio_payment_form_card-number input,
.creaditcard-callback-form.checkout .pensio_payment_form_cardholder input,
.creaditcard-callback-form.checkout .pensio_payment_form_input_cell input {
    padding: 12px 14px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    color: #666;
    height: auto;
}

.creaditcard-callback-form.checkout .pensioCreditCardInput {
    color: #666;
}

.creaditcard-callback-form.checkout .pensio_payment_form_month select,
.creaditcard-callback-form.checkout .pensio_payment_form_year select,
.creaditcard-callback-form.checkout #idealIssuer {
    margin-top: 4px;
    padding: 12px 14px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    cursor: pointer;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(20px + 2px),
    calc(100% - 15px) calc(20px + 2px),
    100% 0;
    background-size: 5px 5px, 5px 5px, 40px 40px;
    background-repeat: no-repeat;
    height: auto;
}

.creaditcard-callback-form.checkout .pensio_payment_form-cvc-input input {
    padding: 12px 14px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    cursor: pointer;
    font-size: 16px;
    height: auto;
}

.creaditcard-callback-form.checkout .pensio_payment_form_expiration {
    display: flex;
    width: 100%;
    gap: 0 10px;
}

.creaditcard-callback-form.checkout .pensio_payment_form_month {
    width: 30%;

}

.creaditcard-callback-form.checkout .pensio_payment_form_year {
    width: 30%;

}

.creaditcard-callback-form.checkout .pensio_payment_form_cvc {
    width: 40%;
}

.creaditcard-callback-form.checkout .pensio_payment_form-cvc-input {
    display: flex;
    position: relative;
}

.creaditcard-callback-form.checkout .cvc-icon {
    width: 30px;
    position: absolute;
    top: 16px;
    right: 16px;
    align-items: center;
}

.creaditcard-callback-form.checkout .credit-card-visa-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding-right: 7px;
    padding-top: 14px;
    align-items: center;
}

.creaditcard-callback-form.checkout .credit-card-mastercard-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding-right: 50px;
    padding-top: 14px;
    align-items: center;
}

.creaditcard-callback-form.checkout .credit-card-maestro-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding-right: 90px;
    padding-top: 14px;
    align-items: center;
}

.creaditcard-callback-form.checkout #creditCardTypeIcon {
    height: 40%;
    width: auto;
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 1rem auto auto;
}

.creaditcard-callback-form.checkout #creditCardTypeSecondIcon {
    height: 40%;
    width: auto;
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 4rem auto auto;
}

.creaditcard-callback-form.checkout #selectCardLabel {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 2rem 2px 0;
    font-size: 10px;
    opacity: 0.7;
}

.creaditcard-callback-form.checkout .pensio_payment_form_cvc-info-text {
    font-size: 10px;
    line-height: normal;
}

.creaditcard-callback-form.checkout .pensio_payment_form_label_cell {
    font-size: 16px
}

.creaditcard-callback-form.checkout .expiry_row,
.cardnumber_row {
    margin-top: 10px;
}

.creaditcard-callback-form.checkout .cardnumber_row {
    margin-bottom: 20px;
}

.creaditcard-callback-form.checkout .expiry_row {
    display: flex;
    width: 100%;
    gap: 0 10px;
}

.creaditcard-callback-form.checkout .submit_row {
    margin-top: 20px;
}

.creaditcard-callback-form.checkout .AltaPaySubmitButton,
.creaditcard-callback-form.checkout #submitbutton,
.creaditcard-callback-form.checkout #cancelPayment {
    outline: none;
    padding: 15px 16px;
    color: white;
    border-radius: 3px;
    width: 100%;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    font-weight: bold;
    font-size: 17px;
}

.creaditcard-callback-form.checkout .AltaPaySubmitButton {
    background: #31C37E;
}

.creaditcard-callback-form.checkout .AltaPaySubmitButton:hover {
    background: #16b36e;
}

.creaditcard-callback-form.checkout .AltaPaySubmitButton:disabled,
.creaditcard-callback-form.checkout #submitbutton,
.creaditcard-callback-form.checkout #cancelPayment,
.creaditcard-callback-form.checkout #submitbutton:disabled {
    background: black;
}

/*errors*/

.creaditcard-callback-form.checkout .pensio_required_field_indicator,
.creaditcard-callback-form.checkout #invalid_amex_cvc,
.creaditcard-callback-form.checkout #invalid_cvc,
.creaditcard-callback-form.checkout #invalid_cardholdername {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    line-height: normal;
}

.creaditcard-callback-form.checkout .pensio_payment_form_invalid-cvc-input,
.creaditcard-callback-form.checkout .pensio_payment_form_invalid-cardholder-input {
    color: red;
}

.creaditcard-callback-form.checkout .PensioCloseButton,
.creaditcard-callback-form.checkout .CustomAltaPayCloseButton {
    width: 40px;
    height: 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
}

.creaditcard-callback-form.checkout .PensioRadioButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.creaditcard-callback-form.checkout div.PensioMultiformContainer form {
    display: none;
}

.creaditcard-callback-form.checkout #PensioJavascriptDisabledSurchargeNotice {
    color: red;
    background-color: white;
}

.creaditcard-callback-form.checkout #iDealPayment table {
    width: 100%;
}

.creaditcard-callback-form.checkout #iDealPayment table tr td {
    vertical-align: middle;
}

.creaditcard-callback-form.checkout #iDealPayment #pensioPaymentIdealSubmitButton {
    margin-top: 20px;
}

.creaditcard-callback-form.checkout #idealIssuer select {
    color: #666;
}

.creaditcard-callback-form.checkout select#birthdateDay,
.creaditcard-callback-form.checkout select#birthdateMonth,
.creaditcard-callback-form.checkout input#cancelPayment,
.creaditcard-callback-form.checkout input#enableAccount,
.creaditcard-callback-form.checkout input#acceptTerms,
.creaditcard-callback-form.checkout input#phoneNumber {
    margin-bottom: 10px;
}

.creaditcard-callback-form.checkout div.PensioMultiformContainer form {
    position: relative;
    border: none;
    background-color: white;
    padding: 0;
    margin: 0;
    border-radius: 0;
    top: 0;
    width: 100%;
}

.creaditcard-callback-form.checkout input#CreditCardButton {
    left: 0px;
}

.creaditcard-callback-form.checkout input#GiftCardButton {
    left: 100px;
}

.creaditcard-callback-form.checkout div.PensioMultiformContainer .FormTypeButton {
    position: absolute;
    top: -32px;
    height: 32px;
    margin-left: 25px;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.creaditcard-callback-form.checkout div.PensioMultiformContainer {
    position: initial;
}

@media (max-width: 991px) {
    .creaditcard-callback-form.checkout {
        margin-top: 15px;
    }

    .opc-sidebar,
    .creaditcard-callback-form {
        width: 100%;
        float: none;
        clear: both;
        margin-bottom: 40px;
    }
}